/* define font family into layout.tsx */

/* font size and radius */
:root {
  --font-base: 16;
  --font-scale: 1.125;
  --radius: 0.5rem;
}

/* default colors */
:root {
  --body-color: #ffffff;
  --primary-color: #171717;
  --border-color: #e5e5e5;
  --light-color: #f5f5f5;
  --accent-color: #0055e9;
  --muted-color: #f5f5f5;
  --success-color: #14532d;
  --warning-color: #b45309;
  --destructive-color: #da2f35;
  --ring-color: #a1a1a1;
  --input-color: #e5e5e5;

  --text-primary-color: #ffffff;
  --text-default-color: #262626;
  --text-strong-color: #0a0a0a;
  --text-muted-color: #595959;
  --text-status-color: #ffffff;
}

/* darkmode colors */
.dark {
  --body-color: #1c1c1c;
  --primary-color: #e5e5e5;
  --border-color: #303030;
  --light-color: #212121;
  --accent-color: #6ba3ff;
  --muted-color: #262626;
  --success-color: #34d399;
  --warning-color: #fbbf24;
  --destructive-color: #f84747;
  --ring-color: #737373;
  --input-color: #303030;

  --text-primary-color: #0a0a0a;
  --text-default-color: #d4d4d4;
  --text-strong-color: #fafafa;
  --text-muted-color: #a8a8a8;
  --text-status-color: #ffffff;
}
